<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".CameraFixtureActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RokidBus.Surface" />

        <activity
            android:name=".GridLauncherScreenshotHostActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="standard" />

        <receiver
            android:name=".ProbeBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.anezium.rokidbus.glasses.PROBE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DebugInkBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.anezium.rokidbus.glasses.DEBUG_INK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DebugFakePhoneReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.anezium.rokidbus.glasses.DEBUG_PHONE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DebugHudInputReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.anezium.rokidbus.glasses.DEBUG_HUD_INPUT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
